.border{
    border-style: solid;
}

.customDone{
    visibility: hidden;
}
.issue-link{
    visibility: hidden;
}

#title h2 {
    margin-left:25px;
    line-height:51px;
    vertical-align:middle;
}