body {
    padding: 20px;
}

.customfields {
    height: 100px;
    margin-top: 20px;
    margin-bottom: 20px;
    transition: all .2s ease;
}

.col-md-2 {
    float: right;
    
}

.row:hover {
    background-color: lightgrey;
}

.issueBlock {
    height: 150px;
    vertical-align: middle;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;

}

.issues {
    height: 400px;
    border-bottom: 5px solid black;
}
.issue-name {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 1.2em;
    z-index: 999999;
    padding: 5px;
    margin: 5px;
    transition: all .5s ease;
}

.issue-name:hover {
    font-size: 1.3em;
}

.customDone{
    visibility: hidden;
}
.issue-link{
    display: none;
    z-index: -5;
}

#title h2 {
    margin-left:25px;
    line-height:51px;
    vertical-align:middle;
}

.issue-type{
    height: 50px;
    line-height: 50px;
}

.bug {
    background-color: #d6192c;
    color: white;
    text-align: center;
    text-shadow: 1px 1px #3e080d;
}
.improvement {
    background-color: #1bb534;
    color: white;
    text-align: center;
    text-shadow: 1px 1px #08390f;

}
.task {
    background-color: #1c8faf;
    color: white;
    text-align: center;
    text-shadow: 1px 1px #0b3844;
}

.new-feature {
    background-color: #00530f;
    color: white;
    text-align: center;
    text-shadow: 1px 1px #0f2904;
}

